<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>{{tutorial_name}}</title>

		<link rel="stylesheet" href="../node_modules/revealjs/dist/reset.css">
		<link rel="stylesheet" href="../node_modules/revealjs/dist/reveal.css">
		<link rel="stylesheet" href="../node_modules/revealjs/dist/theme/white.css" id="theme">
		<link rel="stylesheet" href="../node_modules/revealjs/plugin/highlight/monokai.css" id="highlight-theme">
		<link rel="stylesheet" href="../css/prolog-slide.css">
	</head>
	<body>
		<div class="reveal">
			<div class="slides">
				<section data-markdown="../material/md/prolog/{{tutorial_name}}.md" data-separator="\r?\n---\r?\n" data-separator-vertical="\r?\n&lt;!--vert--&gt;\r?\n"></section>
			</div>
		</div>

		<script src="../node_modules/revealjs/dist/reveal.js"></script>
		<script src="../node_modules/revealjs/plugin/notes/notes.js"></script>
		<script src="../node_modules/revealjs/plugin/markdown/markdown.js"></script>
		<script src="../node_modules/revealjs/plugin/highlight/highlight.js"></script>
		<script src="../node_modules/revealjs/plugin/math/math.js"></script>
		<script src="../js/prolog-slide.js"></script>
	</body>
</html>
